.navbar-menu #burger-menu {
    display: none;
    width: 100px;
    position: relative;
    left: 1065px;
    border: 1px solid #00fff0;
    border-radius: 5px;
}

.navbar-menu .icon {
    display: inline-block;
    position: relative;
    left: 260px;
    vertical-align: middle;
    z-index: 100;
    color: #ffffff;
}

.navbar-menu .icon:hover {
   color:  #00fff0;
}

.navbar-menu #burger-menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
.navbar-menu #burger-menu a:hover {
    background-color: #00fff0;
    transition: 0.5s;
  }
