body {
	background-color: #F5F5F5;
}

h1 {
	font-size: 2.5em;
}

.clickMe {
	width: 200px;
	height: 200px;
	background-color: red;
	box-shadow: 0 0 0 0px green;
	transition: 0.3s;
	margin: 50px auto;
}

.clickMe.blue {
	background-color: blue;
}

.over {
	box-shadow: 0 0 0 20px green;
}